.title {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 20px;
}

.text {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#map {
    height: 400px;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 0;
}